<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team 19 project</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Read this first  </h1>
    <p> You are now looking at the page which main mission is to present to you our code.
        So ladies and gentleman,  please enjoy!</p>
    <p> It was created as a part of the group project for module csc13034. The authors of the content are the members of team 19.</p>

    {% endblock %}
  </body>
</html>
